<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daiwenjie.cms.dao.UserInfoDAO">
	<select id="getCountByUname" resultType="_int">
		SELECT COUNT(username) FROM cms_user WHERE username=#{username}
	</select>
	<!-- gender 是枚举赋值时使用的时 下标赋值 --> 
	<insert id="reg">
			INSERT INTO cms_user
			(username,PASSWORD,nickname,gender,locked,created,updated)
			VALUES
			(#{username},#{password},#{nickname},#{gender.ordinal},#{locked},#{created},#{updated})
	</insert>
	
	<select id="getUserByUsername" resultType="User"> 
		SELECT id,username,PASSWORD,nickname,locked FROM cms_user WHERE username=#{username}
	</select>
	
	<!--处理性别 ：因为性别是枚举类型，所以需要mybaits 提供的 枚举处理器来处理查询到的结果
		因为在数据库中存储的是用户性别枚举的下标（索引）
		javaType：属性的类型  是枚举类型
		jdbcType：数据库中的类型是Integer类型
	  -->
		<resultMap type="com.daiwenjie.cms.domain.User" id="userMap">
		<id column="id" property="id"></id>
		<result column="username" property="username"/>
		<result column="password" property="password"/>
		<result column="birthday" property="birthday"/>
		<result column="nickname" property="nickname"/>
		
		<result column="gender" property="gender"
		 typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler" 
		 javaType="com.daiwenjie.cms.metas.Gender"
		 jdbcType="INTEGER"/>
	</resultMap>
	<select id="userList" resultMap="userMap">
		SELECT  id,username,nickname,gender,locked FROM cms_user 
	</select>
	
	<update id="lockedUser">
		update cms_user set locked=not locked where id=#{id}
	</update>
</mapper>